<%- include("partials/header"); -%>
    <div class="right">
        <h1>Contact</h1>
        <p> <%= mobile %> </p>
        <p> <%= email %></p>
        <p> <%= gitHub %></p>
        <p> <%= linkedIn %></p>
    </div>
    
<%- include("partials/footer"); -%>
