<%- include("partials/header"); -%>
  <div class="right">
    <form id="editPost" class="editPost" data-post="<%=JSON.stringify(post)%>">
      <% createdDate = post.createdAt.toLocaleString('en-us', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }) %>
      <label>Title</label>
      <input class="form-control input-box" type="text" id="editTitle" name="editTitle" value="<%=post.title%>">
      <label>Post</label>
      <textarea class="form-control input-box" id="editBody" name="editBody" rows="15" cols="30" wrap="hard" ><%=post.content%></textarea>
      <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
      <button type="submit" id="cancleBtn" class="btn btn-primary">Cancle</button>
    </form>
  </div>
<%- include("partials/footer"); -%>